<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            socStar profile page
        </h1>
        <p>
            <%= name %>
        </p>
        <p>
            <%= email %>
        </p>
        <form action="/users/sign-out" method = "POST">
            <button type="submit">Sign Out</button>
        </form>
